<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': UnPostLoveIts > 0,
                'list-group-item-danger': UnPostLoveIts < 0 }">
  <table width="100%" border="0"><tr><td align="left"><h4>{{ UnPostTitle }}</h4></td><td align="right"><i>{{  UnPostCreatedAt | date: 'short' }}</i></td></tr></table>
  <div>{{ UnPostContent }}</div>

  <table width="100%" border="0"><tr>
    <td align="left"><button class="btn btn-success" (click)="onLike()">Love it!</button>&nbsp;
                     <button class="btn btn-danger" (click)="onDislike()">Don't love it!</button>
    </td>
    <td align="right"><button class="btn btn-default pull-right" (click)="onDeletePost()">
                      <span class="glyphicon glyphicon-minus"></span>
                      </button>
    </td></tr></table>
</li>
